streamlit
python-dotenv
langchain
langchain-core
langchain-community
faiss-cpu
langchain-groq
langchain-huggingface
langchain-text-splitters
PyPDF2
pypdf             # optional duplicate, same codebase
sentence-transformers
langchain-openai
numpy
