streamlit
langchain
openai
chromadb
tiktoken
langchain-community
langchain-core
langchain-huggingface
langchain-chroma
langchain-groq
langchain-text-splitters
pypdf
sentence-transformers
python-dotenv
