streamlit
python-dotenv
langchain
langchain-core
langchain-community
langchain-chroma
chromadb
faiss-cpu
langchain-groq
langchain-huggingface
langchain-text-splitters
PyPDF2
pypdf
sentence-transformers
langchain-openai
chromadb[duckdb]


